<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>GROWLER</title>
  <meta name="description" content="Growler is a grumpy recreation of Twitter">
  <meta name="author" content="Courtney Regensburger, James Rutledge">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/growler_style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../images/favicon.png">

</head>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <!--top of page, should span 100% Growler text should take up most space.
  and then one images on left, search and search button on the right. Leave breathing room between elements for aesthetic appeal.-->
  <header>
    <div class="twelve columns" id ="top">
      <ul class="twelve columns">
        <li class="three columns"><div><img src="../images/headerimg.png" alt="placeholder img"></div></li>
        <br><br>
        <li class="five columns"><h1>GROWLER</h1></li>
        <li class="three columns"><form id="searchBar">
          <input type="search" placeholder="Search...">
          <input type="submit" value="Submit">
        </form></li>
      </ul>
    </div>
    <br><br><br><br><br><br>
  </header>

<!--middle row.-->
  <div class="container">
    <div class="row">
      <!--profile picture (left side) space-->
      <div class="three columns">
        <br><br><br><br>
        <img id ="profilePicture" src="/images/fannie.png">
      </div>

      <!-- -->
      <br><br><br><br><br><br>
      <div class="nine columns" id="">
        <div class="u-full-width">
          <form>
            <input type="text" name="text" class="u-full-width" id="growl" placeholder="What's happening?">
            <input type="submit" value="Submit" id="submitbutton">
          </form>
        </div>

        <div id="postingContent">
          <p><%= @growls %></p>
        </div>

      </div>
  </div><!-- /End of Container -->

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

</body>
</html>