body {
    background: #0194BE;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    position: relative;
}

header #top {
    background-color: #005B99;
    display: inline;
    list-style: none;
    height: 13em;
}

header #top ul li {
    background-color: #005B99;
    display: inline;
    float: left;
    list-style: none;
    padding: .5em;
    position: relative;
    left: 2em;
    top: .5em;
}

header #top ul li img{
	width: 10em;
}

header h1{
	position: relative;
	float: left;
}

header #top ul li #searchBar{
    background-color: blue;
    display: inline;
    list-style: none;
    padding: .5em;
    position: relative;
    left: 50em;
    top: 1.5em;
}
div #topSpacer {
    background-color: purple;
    position: relative;
    top: 1em;
}
div #profilePicture {
    background-color: orange;
    color: green;
    border: .3em solid #F08204;
}

div #postingContent {
    background: #84D1D8;
    height: 200em;
    width: 48em;
    border-radius: 1em;
}

div #postingContent p {
    position: relative;
    top: 1em;
    left: 1em;
}

